body, html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    overflow: hidden;
}

#main-panel {
    background: var(--override-background, var(--vscode-editor-background));
    color: var(--override-foreground, var(--vscode-editor-foreground));
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "toolbar"
    "variable"
    "content"
    "footer";
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#main-panel-toolbar {
    grid-area: toolbar;
    overflow: hidden;
}

#main-panel-variable {
    grid-area: variable;
    overflow: auto;
}
#main-panel-content {
    grid-area: content;
    max-height: 100%;
    overflow: auto;
}
#main-panel-footer {
    grid-area: footer;
    overflow: hidden;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.edit-panel {
    min-height:50px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-top-color: var(--override-badge-background, var(--vscode-badge-background));
    border-top-style: solid;
    border-top-width: 2px;
}

.edit-panel-colorized {
    min-height:50px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-top-color: var(--override-badge-background, var(--vscode-badge-background));
    border-top-style: solid;
    border-top-width: 2px;
    background-color: var(--override-peek-background, var(--vscode-peekViewEditor-background));
}

/* Cell */
.cell-wrapper {
    margin: 0px;
    padding: 2px;
    display: block;
}

.cell-wrapper:focus {
    outline-color:var(--override-selection-background, var(--vscode-editor-selectionBackground));
}

.cell-wrapper-preview {
    background-color: var(--override-peek-background, var(--vscode-peekViewEditor-background));
}

.cell-wrapper-noneditable {
    border-bottom-color: var(--override-widget-background, var(--vscode-editorGroupHeader-tabsBackground));
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cell-wrapper:after {
    content: "";
    clear: both;
    display: block;
}

.cell-outer {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3px;
    width: 100%;
}

.cell-outer-editable {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3px;
    width: 100%;
    margin-top:16px;
}

.content-div {
    grid-column: 2;
    width: 100%;
}

.controls-div {
    grid-column: 1;
    grid-template-columns: max-content min-content;
    justify-content: grid;
    grid-template-rows: min-content max-content;
    display: grid;
}

.cell-result-container {
    width: 100%;
}

.cell-input {
    margin: 0;
}

.cell-input pre{
    margin: 0px;
    padding: 0px;
}

.cell-output {
    margin-top: 5px;
    background: var(--override-widget-background, var(--vscode-notifications-background));
}

.cell-output-text {
    white-space: pre-wrap;
}
.cell-output-text pre {
    white-space: pre-wrap;
}

.cell-output-html {
    white-space: unset;
    position: relative;
}

.cell-output-plot-background {
    background:white;
    display: inline-block;
    margin: 3px;
}

.cell-output-plot-background * {
    margin: 0px;
}

.cell-output table {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 12px;
    table-layout: fixed;
}

.cell-output thead {
    border-bottom-color: var(--override-foreground, var(--vscode-editor-foreground));
    border-bottom-style: solid;
    border-bottom-width: 1px;
    vertical-align: bottom;
}

.cell-output tr,
.cell-output th,
.cell-output td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
.cell-output th {
  font-weight: bold;
}
.cell-output tbody tr:nth-child(even) {
  background: var(--override-background, var(--vscode-editor-background)); /* Force to white because the default color for output is gray */
}
.cell-output tbody tr:hover {
  background: var(--override-selection-background, var(--vscode-editor-selectionBackground));
}
.cell-output * + table {
  margin-top: 1em;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.cell-output-html .plot-open-button {
    z-index: 10;
    position: absolute;
    left: 2px;
    visibility: hidden;
}

.cell-output-html:hover .plot-open-button {
    visibility: visible;
}

.cell-output-error {
    background: var(--override-background, var(--vscode-editor-background));
}

/* Code */
.code-area {
    position: relative;
    width:100%;
    margin-bottom:16px;
    top: -2px; /* Account for spacing removed from the monaco editor */
}

.code-area-editable {
    margin-bottom: 10px;
}

.code-watermark {
    position: absolute;
    top: 3px;
    left: 30px;
    z-index: 500;
    font-style: italic;
    color: var(--override-watermark-color, var(--vscode-panelTitle-inactiveForeground));
}

.collapse-input-svg-rotate {
    transform: rotate(45deg);
    transform-origin: 0% 100%;
}

.collapse-input-svg-vscode-light {
    fill: black;
}

.collapse-input-svg-vscode-dark {
    fill: lightgray;
}

.collapse-input {
    grid-column: 2;
    padding: 2px;
    margin-top: 2px;
    height: min-content;
}

.remove-style {
    background-color:transparent;
    border:transparent;
    font:inherit;
}

.inputLabel {
    background-color: var(--override-background, var(--vscode-editor-background));
    color: var(--override-foreground, var(--vscode-editor-foreground));
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    margin: 3px;
}

#cell-table {
    display: table;
    width: 100%;
}

#cell-table-body {
    display: table-row-group;
}

.flash {
    animation-name: flash-animation;
    animation-duration: 1.0s;
}

@keyframes flash-animation {
    from { background: var(--override-peek-background, var(--vscode-peekViewEditor-background));; }
    to   { background: default; }
}

.messages-wrapper {
    padding: 12px;
    display: block;
    border-bottom-color: var(--override-tabs-background, var(--vscode-editorGroupHeader-tabsBackground));
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.messages-outer {
    background: var(--override-widget-background, var(--vscode-notifications-background));
    white-space: pre-wrap;
    font-family: monospace;
    width: 100%;
}

.messages-outer-preview {
    font-weight: bold;
    background-color: var(--override-peek-background, var(--vscode-peekViewEditor-background));
    font-family: var(--code-font-family);
}

.messages-wrapper-preview {
    background-color: var(--override-peek-background, var(--vscode-peekViewEditor-background));
}

.messages-result-container pre {
    white-space: pre-wrap;
    font-family: monospace;
    margin: 0px;
}

.cell-menu-bar-outer {
    justify-self: right;
}

.cell-toolbar {
    justify-self: end;
    display: flex;
    flex-flow: column;
}

.cell-menu-bar-child-container {
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

#toolbar-panel {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.toolbar-extra-button {
    margin-left: auto;
}
#variable-panel-padding {
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
}
.variable-explorer-menu-bar {
    display: flex;
    width: 100%;
    justify-content: end;
}
.variable-explorer-label {
    margin-right:auto;
}
.variable-explorer-close-button {
    justify-self: end;
}

.execution-count {
    grid-column: 1;
    font-weight: bold;
    display:flex;
    color: var(--code-comment-color);
    font-family: var(--code-font-family);
 }

 .execution-count-busy-outer {
    grid-column: 1;
    font-weight: bold;
    color: var(--code-comment-color);
    display:flex;
    width: 16px;
    height: 16px;
}
 .execution-count-busy-svg {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    width: 16px;
    height: 16px;
}

.execution-count-busy-polyline {
    fill: none;
    stroke: var(--code-comment-color);
    stroke-width: 5;
}

 @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.plain-editor {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.plain-editor:focus {
    outline: none;
}

.toolbar-divider {
    width: 100%;
    margin-top: 2px;
    border-bottom-color: var(--override-badge-background, var(--vscode-badge-background));
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.toolbar-menu-bar {
    display: flex;
    width: 100%;
}
